page{
	height: 100%;
	
}
// 容器
.container{
	display: flex;
	height: 100%;
	background-color: #F5F5F5;
	position: relative;
	color: #333;
	font-size: 28rpx;
	
}
.box_0{
	width: 550rpx;
	height: 50rpx;
	padding: 33rpx 30rpx 20rpx 20rpx;
}
.text-group{
	padding: 20rpx;
	width: 250rpx;
	height: 50rpx;
	
}

// 轮播盒子
.swiper-box{
	position: absolute;
	top: 75rpx;
	left: 0;
	right: 0;
	bottom: 100rpx;
	height: auto;
	width: auto;
	z-index: 1;
}

.swiper{
	height: 100%;
	
	.swiper-scroll{
		height: 100%;
	}

	.swiper-item{
		// background-color: #fff;
		box-sizing: border-box;
		height: 100%;
		
		
		
		.topic-content{
			padding: 10rpx 30rpx 30rpx 30rpx;
			font-size: 32rpx;
			color: #333;
			line-height: 1.6;
			
			// 题目类型标签
			.type-label{
				background-color: #0089ff;
				color: #fff;
				border-radius: 6rpx;
				padding: 4rpx 10rpx;
				font-size: 24rpx;
			}
			
			// 选项卡
			.answer-sheet{
				margin:40rpx -30rpx;
				.item_1{
					margin: 20rpx;
					border-radius: 15rpx;
					box-shadow: 0px 1px 2px 0px rgba(228, 228, 228, 0.5);
					background-color: #fff;
					padding: 20rpx 30rpx;
					&.active{
						border: 3rpx solid #E8A400;
						background-color: #FFFBE5;
					}
					+ .item{
						margin-top: 0;
					}
					
				}
				.item_2{
					margin: 20rpx;
					border-radius: 15rpx;
					box-shadow: 0px 1px 2px 0px rgba(228, 228, 228, 0.5);
					background-color: #fff;
					padding: 20rpx 30rpx;
					position:relative;
					&.success{
						border: 3rpx solid #58BF81;
						background-color: #E4F5ED;
					}
					
					&.error{
						border: 3rpx solid #FF0000;
						background-color: #F5DBDA;
					}
					&.errorUnselected{
						border: 3rpx solid #6699FF;
					}
				
					
				}			
			}
			
			// 答题结果
			.answer-result{
				box-shadow: 0px 1px 2px 0px rgba(228, 228, 228, 0.5);
				background-color: #fff;
				border-radius: 15rpx;
				padding: 20rpx 30rpx;
				font-size: 28rpx;
				.answer-msg{
					padding-bottom: 10rpx;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: center;
					align-content: center;
				}
			}
			
			// 题目解析
			.answer-doubt{
				font-size: 28rpx;
				color: #8a6d3b;
				background-color: #fcf8e3;
				border: #faebcc solid 1px;
				margin-top: 40rpx;
				padding: 20rpx 30rpx;
				border-radius: 8rpx;
				word-break:break-all
			}
		}
	}
}



// 底部面板
.panel-bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
	z-index: 2;
	
	// 遮罩
	.shade{
		position: fixed;
		z-index: 9;
		background-color: rgba(33,33,33,0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	// 内容
	.content{
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		background-color: #fff;
	}
	
	// 操作栏
	.action-bar{
		height: 100rpx;
		width: 100%;
		box-sizing: border-box;
		border-top: #ddd solid 1px;
		font-size: 28rpx;
		padding: 0 20rpx;
		display: flex;/*重要*/
		justify-content: space-between;/*重要*/
		.success-num{
			color: #0089ff;
		}
		
		.error-num{
			color: #f84d27;
		}
	}
	
	// 题目列表
	.topic-list{
		height: 600rpx;
		
		.list-box{
			padding: 20rpx 20rpx 0 20rpx;
			font-size: 28rpx;
			color: #666;
			
			.list-item{
				padding-bottom: 20rpx;
				
				> view{
					width: 80rpx;
					height: 80rpx;
					background-color: #fff;
					border: #ddd solid 1px;
					border-radius: 50%;
					margin: 0 auto;
					
					&.active{
						border: #0089ff solid 1px;
					}
					
					&.success{
						background-color: #dbf2ff;
						color: #0089ff;
						border:none;
						
						&.active{
							border: #0089ff solid 1px;
						}
					}
					
					&.error{
						background-color: #ffeceb;
						color: #f84d27;
						border:none;
						
						&.active{
							border: #f84d27 solid 1px;
						}
					}
				}
			}
		}
	}
}
.showTotal{
        .show{
            width: 620rpx;
            position: fixed;
            left: 0;
            right: 0;
            top:280rpx;
            margin: auto;
            z-index: 10000;
            &-image{
                width: 620rpx;
                position: relative;
            }
            &-button{
                width: 400rpx;
                line-height: 96rpx;
                text-align: center;
                color: #fff;
                font-size: 32rpx;
                border-radius: 56rpx;
                background: linear-gradient(90deg, #F97C55 0%, #F44545 100%);
                position: absolute;
                bottom: -40rpx;
                left: 110rpx;
            }
        }
        .over{
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.6;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;//这一步很重要
        }
        
        .button{
            width: 400rpx;
            height: 96rpx;
            background: linear-gradient(90deg, #F97C55 0%, #F44545 100%);
        }
    }