.page {
  position: relative;
  width: 414px;
  height: 896px;
  overflow: hidden;
  .group_1 {
    background: url(/static/lanhu_shouye/SketchPngb17df7ce33a664b561d73e04dcc4c2792bab7ddf5f9d6c7733d46eca1db2752b.png)
      100% no-repeat;
    background-size: 100% 100%;
    margin: 0 -1px 0 1px;
    padding: 14px 1px 96px 0;
    .box_1 {
      margin: 0 13px 0 23px;
      .text_1 {
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 15px;
        letter-spacing: -0.30000001192092896px;
        font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
        font-weight: NaN;
        text-align: right;
        white-space: nowrap;
        line-height: 18px;
      }
      .thumbnail_1 {
        width: 17px;
        height: 11px;
        margin: 4px 0 3px 250px;
      }
      .thumbnail_2 {
        width: 15px;
        height: 11px;
        margin: 3px 0 4px 5px;
      }
      .image_1 {
        width: 25px;
        height: 12px;
        margin: 3px 0 3px 5px;
      }
    }
    .nav-bar_1 {
      width: 414px;
      margin: 7px 0 0 -1px;
      padding: 9px 5px 3px 191px;
      .text_2 {
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 17px;
        font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
        font-weight: NaN;
        text-align: right;
        white-space: nowrap;
        line-height: 20px;
        margin-top: 4px;
      }
      .applet-top-bar_1 {
        width: 87px;
        height: 32px;
      }
    }
    .box_2 {
      position: relative;
      width: 373px;
      align-self: center;
      margin-top: 2px;
      padding: 15px 0 9px 78px;
      .image-text_1 {
        width: 49px;
        margin-top: 18px;
        .icon_1 {
          width: 18px;
          height: 18px;
        }
        .text-group_1 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 14px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 14px;
          margin-top: 2px;
        }
      }
      .button_1 {
        box-shadow: 0px 1px 4px 0px rgba(205, 202, 202, 0.5);
        margin-bottom: 6px;
        .box_3 {
          box-shadow: 0px 1px 2px 0px rgba(228, 228, 228, 0.5);
          background-color: rgba(255, 255, 255, 1);
          border-radius: 8px;
          padding: 3px 10px 3px 6px;
          .image-text_2 {
            width: 85px;
            .icon_2 {
              width: 23px;
              height: 24px;
            }
            .text-group_2 {
              overflow-wrap: break-word;
              color: rgba(0, 0, 0, 1);
              font-size: 14px;
              font-family: STHeitiSC-Light;
              font-weight: 300;
              text-align: left;
              white-space: nowrap;
              line-height: 14px;
              margin-top: 5px;
            }
          }
        }
      }
      .image-text_3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 204px;
        height: 60px;
        .single-avatar_1 {
          width: 60px;
          height: 60px;
        }
        .group_2 {
          margin: 8px 0 13px 0;
          .text-group_3 {
            height: 18px;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 18px;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 19px;
          }
          .icon_3 {
            width: 5px;
            height: 10px;
            margin: 11px 66px 0 55px;
          }
        }
      }
    }
    .box_4 {
      box-shadow: 0px 1px 8px 0px rgba(228, 228, 228, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 16px;
      margin: 19px 20px 0 19px;
      padding: 6px 13px 16px 12px;
      .text_3 {
        overflow-wrap: break-word;
        color: rgba(85, 83, 83, 1);
        font-size: 12px;
        font-family: STHeitiSC-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 12px;
        margin: 0 255px 0 17px;
      }
      .text-wrapper_1 {
        background: url(/static/lanhu_shouye/SketchPngc32384d64a41286528f5c301f75cae8ad8b83cad24d0c0a29c5d223d9865e1f1.png)
          100% no-repeat;
        background-size: 100% 100%;
        margin-top: 5px;
        padding: 9px 20px 0 5px;
        .text_4 {
          height: 48px;
          overflow-wrap: break-word;
          color: rgba(103, 132, 232, 1);
          font-size: 48px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 49px;
          margin-bottom: -7px;
        }
        .text_5 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 16px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 16px;
          margin: 24px 0 0 8px;
        }
        .text_6 {
          height: 48px;
          overflow-wrap: break-word;
          color: rgba(232, 103, 116, 1);
          font-size: 48px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 49px;
          margin: 0 0 -7px 33px;
        }
        .text_7 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 16px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 16px;
          margin: 25px 0 0 6px;
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-last-child(-n + 2) {
            margin-bottom: 0;
          }
        }
        .text_8 {
          height: 48px;
          overflow-wrap: break-word;
          color: rgba(103, 132, 232, 1);
          font-size: 48px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 49px;
          margin: 0 0 -7px 43px;
        }
        .text_9 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 16px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 16px;
          margin: 24px 0 0 1px;
        }
      }
      .text-wrapper_2 {
        width: 297px;
        margin: 7px 21px 0 31px;
        .text_10 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 16px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 16px;
        }
        .text_11 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 16px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 16px;
        }
        .text_12 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 16px;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 16px;
        }
      }
    }
    .box_5 {
      width: 373px;
      align-self: center;
      margin-top: 11px;
      .section_1 {
        box-shadow: -2px 2px 8px 0px rgba(227, 227, 227, 0.5);
        background-color: rgba(255, 254, 254, 1);
        border-radius: 22px;
        margin-top: 4px;
        padding: 7px 13px 13px 16px;
        .box_6 {
          width: 220px;
          margin: 0 10px 0 2px;
          .text_13 {
            height: 18px;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 18px;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 19px;
          }
          .icon_4 {
            width: 8px;
            height: 14px;
            margin: 2px 0 2px 0;
          }
        }
        .box_7 {
          background-color: rgba(183, 177, 177, 1);
          border-radius: 15px;
          width: 232px;
          height: 182px;
          margin-top: 7px;
        }
      }
      .section_2 {
        box-shadow: -1px 2px 2px 0px rgba(228, 228, 228, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 16px;
        padding: 8px 19px 9px 20px;
        .image-text_4 {
          .icon_5 {
            width: 42px;
            height: 42px;
            margin: 0 13px 0 9px;
          }
          .text-group_4 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 16px;
            margin-top: 8px;
          }
        }
        .image-text_5 {
          margin-top: 8px;
          .label_1 {
            width: 42px;
            height: 42px;
            align-self: center;
          }
          .text-group_5 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 16px;
            margin-top: 8px;
          }
        }
        .image-text_6 {
          margin-top: 8px;
          .label_2 {
            width: 42px;
            height: 42px;
            align-self: center;
          }
          .text-group_6 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 16px;
            margin-top: 8px;
          }
        }
      }
    }
    .grid_1 {
      width: 374px;
      height: 271px;
      flex-wrap: wrap;
      margin: 11px 19px 0 20px;
      .image-text_7 {
        box-shadow: -1px 2px 2px 0px rgba(228, 228, 228, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 16px;
        width: 179px;
        height: 78px;
        margin: 0 16px 19px 0;
        padding: 18px 27px 19px 24px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
        .icon_6 {
          width: 43px;
          height: 41px;
        }
        .text-group_7 {
          height: 18px;
          overflow-wrap: break-word;
          color: rgba(8, 8, 8, 1);
          font-size: 18px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 19px;
          margin-top: 12px;
        }
      }
    }
  }
}
