.page {
  position: relative;
  width: 11.04rem;
  height: 23.894rem;
  overflow: hidden;
  .group_1 {
    background: url(/static/lanhu_shouye/SketchPngb17df7ce33a664b561d73e04dcc4c2792bab7ddf5f9d6c7733d46eca1db2752b.png)
      100% no-repeat;
    background-size: 100% 100%;
    margin: 0 -0.027rem 0 0.027rem;
    padding: 0.374rem 0.027rem 2.56rem 0;
    .box_1 {
      margin: 0 0.347rem 0 0.614rem;
      .text_1 {
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 0.4rem;
        letter-spacing: -0.30000001192092896px;
        font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
        font-weight: NaN;
        text-align: right;
        white-space: nowrap;
        line-height: 0.48rem;
      }
      .thumbnail_1 {
        width: 0.454rem;
        height: 0.294rem;
        margin: 0.107rem 0 0.08rem 6.667rem;
      }
      .thumbnail_2 {
        width: 0.4rem;
        height: 0.294rem;
        margin: 0.08rem 0 0.107rem 0.134rem;
      }
      .image_1 {
        width: 0.667rem;
        height: 0.32rem;
        margin: 0.08rem 0 0.08rem 0.134rem;
      }
    }
    .nav-bar_1 {
      width: 11.04rem;
      margin: 0.187rem 0 0 -0.027rem;
      padding: 0.24rem 0.134rem 0.08rem 5.094rem;
      .text_2 {
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 0.453rem;
        font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
        font-weight: NaN;
        text-align: right;
        white-space: nowrap;
        line-height: 0.534rem;
        margin-top: 0.107rem;
      }
      .applet-top-bar_1 {
        width: 2.32rem;
        height: 0.854rem;
      }
    }
    .box_2 {
      position: relative;
      width: 9.947rem;
      align-self: center;
      margin-top: 0.054rem;
      padding: 0.4rem 0 0.24rem 2.08rem;
      .image-text_1 {
        width: 1.307rem;
        margin-top: 0.48rem;
        .icon_1 {
          width: 0.48rem;
          height: 0.48rem;
        }
        .text-group_1 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.373rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.374rem;
          margin-top: 0.054rem;
        }
      }
      .button_1 {
        box-shadow: 0px 1px 4px 0px rgba(205, 202, 202, 0.5);
        margin-bottom: 0.16rem;
        .box_3 {
          box-shadow: 0px 1px 2px 0px rgba(228, 228, 228, 0.5);
          background-color: rgba(255, 255, 255, 1);
          border-radius: 8px;
          padding: 0.08rem 0.267rem 0.08rem 0.16rem;
          .image-text_2 {
            width: 2.267rem;
            .icon_2 {
              width: 0.614rem;
              height: 0.64rem;
            }
            .text-group_2 {
              overflow-wrap: break-word;
              color: rgba(0, 0, 0, 1);
              font-size: 0.373rem;
              font-family: STHeitiSC-Light;
              font-weight: 300;
              text-align: left;
              white-space: nowrap;
              line-height: 0.374rem;
              margin-top: 0.134rem;
            }
          }
        }
      }
      .image-text_3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 5.44rem;
        height: 1.6rem;
        .single-avatar_1 {
          width: 1.6rem;
          height: 1.6rem;
        }
        .group_2 {
          margin: 0.214rem 0 0.347rem 0;
          .text-group_3 {
            height: 0.48rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.48rem;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 0.507rem;
          }
          .icon_3 {
            width: 0.134rem;
            height: 0.267rem;
            margin: 0.294rem 1.76rem 0 1.467rem;
          }
        }
      }
    }
    .box_4 {
      box-shadow: 0px 1px 8px 0px rgba(228, 228, 228, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 16px;
      margin: 0.507rem 0.534rem 0 0.507rem;
      padding: 0.16rem 0.347rem 0.427rem 0.32rem;
      .text_3 {
        overflow-wrap: break-word;
        color: rgba(85, 83, 83, 1);
        font-size: 0.32rem;
        font-family: STHeitiSC-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 0.32rem;
        margin: 0 6.8rem 0 0.454rem;
      }
      .text-wrapper_1 {
        background: url(/static/lanhu_shouye/SketchPngc32384d64a41286528f5c301f75cae8ad8b83cad24d0c0a29c5d223d9865e1f1.png)
          100% no-repeat;
        background-size: 100% 100%;
        margin-top: 0.134rem;
        padding: 0.24rem 0.534rem 0 0.134rem;
        .text_4 {
          height: 1.28rem;
          overflow-wrap: break-word;
          color: rgba(103, 132, 232, 1);
          font-size: 1.28rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 1.307rem;
          margin-bottom: -0.186rem;
        }
        .text_5 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.426rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.427rem;
          margin: 0.64rem 0 0 0.214rem;
        }
        .text_6 {
          height: 1.28rem;
          overflow-wrap: break-word;
          color: rgba(232, 103, 116, 1);
          font-size: 1.28rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 1.307rem;
          margin: 0 0 -0.187rem 0.88rem;
        }
        .text_7 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.426rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.427rem;
          margin: 0.667rem 0 0 0.16rem;
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-last-child(-n + 2) {
            margin-bottom: 0;
          }
        }
        .text_8 {
          height: 1.28rem;
          overflow-wrap: break-word;
          color: rgba(103, 132, 232, 1);
          font-size: 1.28rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 1.307rem;
          margin: 0 0 -0.187rem 1.147rem;
        }
        .text_9 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.426rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.427rem;
          margin: 0.64rem 0 0 0.027rem;
        }
      }
      .text-wrapper_2 {
        width: 7.92rem;
        margin: 0.187rem 0.56rem 0 0.827rem;
        .text_10 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.426rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.427rem;
        }
        .text_11 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.426rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.427rem;
        }
        .text_12 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 0.426rem;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 0.427rem;
        }
      }
    }
    .box_5 {
      width: 9.947rem;
      align-self: center;
      margin-top: 0.294rem;
      .section_1 {
        box-shadow: -2px 2px 8px 0px rgba(227, 227, 227, 0.5);
        background-color: rgba(255, 254, 254, 1);
        border-radius: 22px;
        margin-top: 0.107rem;
        padding: 0.187rem 0.347rem 0.347rem 0.427rem;
        .box_6 {
          width: 5.867rem;
          margin: 0 0.267rem 0 0.054rem;
          .text_13 {
            height: 0.48rem;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.48rem;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 0.507rem;
          }
          .icon_4 {
            width: 0.214rem;
            height: 0.374rem;
            margin: 0.054rem 0 0.054rem 0;
          }
        }
        .box_7 {
          background-color: rgba(183, 177, 177, 1);
          border-radius: 15px;
          width: 6.187rem;
          height: 4.854rem;
          margin-top: 0.187rem;
        }
      }
      .section_2 {
        box-shadow: -1px 2px 2px 0px rgba(228, 228, 228, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 16px;
        padding: 0.214rem 0.507rem 0.24rem 0.534rem;
        .image-text_4 {
          .icon_5 {
            width: 1.12rem;
            height: 1.12rem;
            margin: 0 0.347rem 0 0.24rem;
          }
          .text-group_4 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.426rem;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 0.427rem;
            margin-top: 0.214rem;
          }
        }
        .image-text_5 {
          margin-top: 0.214rem;
          .label_1 {
            width: 1.12rem;
            height: 1.12rem;
            align-self: center;
          }
          .text-group_5 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.426rem;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 0.427rem;
            margin-top: 0.214rem;
          }
        }
        .image-text_6 {
          margin-top: 0.214rem;
          .label_2 {
            width: 1.12rem;
            height: 1.12rem;
            align-self: center;
          }
          .text-group_6 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 0.426rem;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 0.427rem;
            margin-top: 0.214rem;
          }
        }
      }
    }
    .grid_1 {
      width: 9.974rem;
      height: 7.227rem;
      flex-wrap: wrap;
      margin: 0.294rem 0.507rem 0 0.534rem;
      .image-text_7 {
        box-shadow: -1px 2px 2px 0px rgba(228, 228, 228, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 16px;
        width: 4.774rem;
        height: 2.08rem;
        margin: 0 0.427rem 0.507rem 0;
        padding: 0.48rem 0.72rem 0.507rem 0.64rem;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
        .icon_6 {
          width: 1.147rem;
          height: 1.094rem;
        }
        .text-group_7 {
          height: 0.48rem;
          overflow-wrap: break-word;
          color: rgba(8, 8, 8, 1);
          font-size: 0.48rem;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 0.507rem;
          margin-top: 0.32rem;
        }
      }
    }
  }
}
