.page {
  position: relative;
  width: 100vw;
  height: 216.43vw;
  overflow: hidden;
  .group_1 {
    background: url(/static/lanhu_shouye/SketchPngb17df7ce33a664b561d73e04dcc4c2792bab7ddf5f9d6c7733d46eca1db2752b.png)
      100% no-repeat;
    background-size: 100% 100%;
    margin: 0 -0.24vw 0 0.24vw;
    padding: 3.38vw 0.24vw 23.18vw 0;
    .box_1 {
      margin: 0 3.14vw 0 5.55vw;
      .text_1 {
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 3.62vw;
        letter-spacing: -0.30000001192092896px;
        font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
        font-weight: NaN;
        text-align: right;
        white-space: nowrap;
        line-height: 4.35vw;
      }
      .thumbnail_1 {
        width: 4.11vw;
        height: 2.66vw;
        margin: 0.96vw 0 0.72vw 60.38vw;
      }
      .thumbnail_2 {
        width: 3.63vw;
        height: 2.66vw;
        margin: 0.72vw 0 0.96vw 1.2vw;
      }
      .image_1 {
        width: 6.04vw;
        height: 2.9vw;
        margin: 0.72vw 0 0.72vw 1.2vw;
      }
    }
    .nav-bar_1 {
      width: 100vw;
      margin: 1.69vw 0 0 -0.24vw;
      padding: 2.17vw 1.2vw 0.72vw 46.13vw;
      .text_2 {
        overflow-wrap: break-word;
        color: rgba(0, 0, 0, 1);
        font-size: 4.1vw;
        font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
        font-weight: NaN;
        text-align: right;
        white-space: nowrap;
        line-height: 4.84vw;
        margin-top: 0.97vw;
      }
      .applet-top-bar_1 {
        width: 21.02vw;
        height: 7.73vw;
      }
    }
    .box_2 {
      position: relative;
      width: 90.1vw;
      align-self: center;
      margin-top: 0.49vw;
      padding: 3.62vw 0 2.17vw 18.84vw;
      .image-text_1 {
        width: 11.84vw;
        margin-top: 4.35vw;
        .icon_1 {
          width: 4.35vw;
          height: 4.35vw;
        }
        .text-group_1 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.38vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.39vw;
          margin-top: 0.49vw;
        }
      }
      .button_1 {
        box-shadow: 0px 1px 4px 0px rgba(205, 202, 202, 0.5);
        margin-bottom: 1.45vw;
        .box_3 {
          box-shadow: 0px 1px 2px 0px rgba(228, 228, 228, 0.5);
          background-color: rgba(255, 255, 255, 1);
          border-radius: 8px;
          padding: 0.72vw 2.41vw 0.72vw 1.44vw;
          .image-text_2 {
            width: 20.54vw;
            .icon_2 {
              width: 5.56vw;
              height: 5.8vw;
            }
            .text-group_2 {
              overflow-wrap: break-word;
              color: rgba(0, 0, 0, 1);
              font-size: 3.38vw;
              font-family: STHeitiSC-Light;
              font-weight: 300;
              text-align: left;
              white-space: nowrap;
              line-height: 3.39vw;
              margin-top: 1.21vw;
            }
          }
        }
      }
      .image-text_3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 49.28vw;
        height: 14.5vw;
        .single-avatar_1 {
          width: 14.5vw;
          height: 14.5vw;
        }
        .group_2 {
          margin: 1.93vw 0 3.14vw 0;
          .text-group_3 {
            height: 4.35vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 4.34vw;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 4.59vw;
          }
          .icon_3 {
            width: 1.21vw;
            height: 2.42vw;
            margin: 2.65vw 15.94vw 0 13.28vw;
          }
        }
      }
    }
    .box_4 {
      box-shadow: 0px 1px 8px 0px rgba(228, 228, 228, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 16px;
      margin: 4.58vw 4.83vw 0 4.58vw;
      padding: 1.44vw 3.14vw 3.86vw 2.89vw;
      .text_3 {
        overflow-wrap: break-word;
        color: rgba(85, 83, 83, 1);
        font-size: 2.89vw;
        font-family: STHeitiSC-Light;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
        line-height: 2.9vw;
        margin: 0 61.59vw 0 4.1vw;
      }
      .text-wrapper_1 {
        background: url(/static/lanhu_shouye/SketchPngc32384d64a41286528f5c301f75cae8ad8b83cad24d0c0a29c5d223d9865e1f1.png)
          100% no-repeat;
        background-size: 100% 100%;
        margin-top: 1.21vw;
        padding: 2.17vw 4.83vw 0 1.2vw;
        .text_4 {
          height: 11.6vw;
          overflow-wrap: break-word;
          color: rgba(103, 132, 232, 1);
          font-size: 11.59vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 11.84vw;
          margin-bottom: -1.69vw;
        }
        .text_5 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.86vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.87vw;
          margin: 5.79vw 0 0 1.93vw;
        }
        .text_6 {
          height: 11.6vw;
          overflow-wrap: break-word;
          color: rgba(232, 103, 116, 1);
          font-size: 11.59vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 11.84vw;
          margin: 0 0 -1.69vw 7.97vw;
        }
        .text_7 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.86vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.87vw;
          margin: 6.03vw 0 0 1.44vw;
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-last-child(-n + 2) {
            margin-bottom: 0;
          }
        }
        .text_8 {
          height: 11.6vw;
          overflow-wrap: break-word;
          color: rgba(103, 132, 232, 1);
          font-size: 11.59vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 11.84vw;
          margin: 0 0 -1.69vw 10.38vw;
        }
        .text_9 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.86vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.87vw;
          margin: 5.79vw 0 0 0.24vw;
        }
      }
      .text-wrapper_2 {
        width: 71.74vw;
        margin: 1.69vw 5.07vw 0 7.48vw;
        .text_10 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.86vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.87vw;
        }
        .text_11 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.86vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.87vw;
        }
        .text_12 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.86vw;
          font-family: STHeitiSC-Light;
          font-weight: 300;
          text-align: left;
          white-space: nowrap;
          line-height: 3.87vw;
        }
      }
    }
    .box_5 {
      width: 90.1vw;
      align-self: center;
      margin-top: 2.66vw;
      .section_1 {
        box-shadow: -2px 2px 8px 0px rgba(227, 227, 227, 0.5);
        background-color: rgba(255, 254, 254, 1);
        border-radius: 22px;
        margin-top: 0.97vw;
        padding: 1.69vw 3.14vw 3.14vw 3.86vw;
        .box_6 {
          width: 53.15vw;
          margin: 0 2.41vw 0 0.48vw;
          .text_13 {
            height: 4.35vw;
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 4.34vw;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 4.59vw;
          }
          .icon_4 {
            width: 1.94vw;
            height: 3.39vw;
            margin: 0.48vw 0 0.48vw 0;
          }
        }
        .box_7 {
          background-color: rgba(183, 177, 177, 1);
          border-radius: 15px;
          width: 56.04vw;
          height: 43.97vw;
          margin-top: 1.7vw;
        }
      }
      .section_2 {
        box-shadow: -1px 2px 2px 0px rgba(228, 228, 228, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 16px;
        padding: 1.93vw 4.58vw 2.17vw 4.83vw;
        .image-text_4 {
          .icon_5 {
            width: 10.15vw;
            height: 10.15vw;
            margin: 0 3.14vw 0 2.17vw;
          }
          .text-group_4 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.86vw;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 3.87vw;
            margin-top: 1.94vw;
          }
        }
        .image-text_5 {
          margin-top: 1.94vw;
          .label_1 {
            width: 10.15vw;
            height: 10.15vw;
            align-self: center;
          }
          .text-group_5 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.86vw;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 3.87vw;
            margin-top: 1.94vw;
          }
        }
        .image-text_6 {
          margin-top: 1.94vw;
          .label_2 {
            width: 10.15vw;
            height: 10.15vw;
            align-self: center;
          }
          .text-group_6 {
            overflow-wrap: break-word;
            color: rgba(0, 0, 0, 1);
            font-size: 3.86vw;
            font-family: STHeitiSC-Light;
            font-weight: 300;
            text-align: left;
            white-space: nowrap;
            line-height: 3.87vw;
            margin-top: 1.94vw;
          }
        }
      }
    }
    .grid_1 {
      width: 90.34vw;
      height: 65.46vw;
      flex-wrap: wrap;
      margin: 2.65vw 4.58vw 0 4.83vw;
      .image-text_7 {
        box-shadow: -1px 2px 2px 0px rgba(228, 228, 228, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 16px;
        width: 43.24vw;
        height: 18.85vw;
        margin: 0 3.86vw 4.58vw 0;
        padding: 4.34vw 6.52vw 4.58vw 5.79vw;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
        .icon_6 {
          width: 10.39vw;
          height: 9.91vw;
        }
        .text-group_7 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(8, 8, 8, 1);
          font-size: 4.34vw;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 2.9vw;
        }
      }
    }
  }
}
