.page {
  position: relative;
  width: 100vw;
  height: 216.43vw;
  overflow: hidden;
  .section_1 {
    background-color: rgba(245, 245, 245, 1);
    padding-bottom: 17.15vw;
    .block_1 {
      padding: 3.38vw 0.24vw 3.62vw 0;
      .block_2 {
        margin: 0 3.14vw 0 5.55vw;
        .text_1 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 3.62vw;
          letter-spacing: -0.30000001192092896px;
          font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 4.35vw;
        }
        .thumbnail_1 {
          width: 4.11vw;
          height: 2.66vw;
          margin: 0.96vw 0 0.72vw 60.38vw;
        }
        .thumbnail_2 {
          width: 3.63vw;
          height: 2.66vw;
          margin: 0.72vw 0 0.96vw 1.2vw;
        }
        .image_1 {
          width: 6.04vw;
          height: 2.9vw;
          margin: 0.72vw 0 0.72vw 1.2vw;
        }
      }
      .nav-bar_1 {
        margin-top: 1.45vw;
        padding: 2.41vw 1.2vw 0.96vw 5.07vw;
        .icon_1 {
          width: 4.84vw;
          height: 4.84vw;
          margin: 0.24vw 0 2.65vw 0;
        }
        .text_2 {
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.1vw;
          font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
          font-weight: NaN;
          text-align: right;
          white-space: nowrap;
          line-height: 4.84vw;
          margin: 0.96vw 0 0 35.99vw;
        }
        .applet-top-bar_1 {
          width: 21.02vw;
          height: 7.73vw;
          margin-left: 23.19vw;
        }
      }
      .block_3 {
        width: 79.23vw;
        margin: 0.24vw 10.14vw 0 10.38vw;
        .image-text_1 {
          width: 53.63vw;
          .single-avatar_1 {
            width: 14.5vw;
            height: 14.5vw;
          }
          .text-group_1 {
            margin: 2.17vw 0 1.93vw 0;
            .text_3 {
              height: 5.08vw;
              overflow-wrap: break-word;
              color: rgba(0, 0, 0, 1);
              font-size: 5.07vw;
              font-family: STHeitiSC-Medium;
              font-weight: 500;
              text-align: left;
              white-space: nowrap;
              line-height: 5.32vw;
            }
            .text_4 {
              overflow-wrap: break-word;
              color: rgba(103, 103, 103, 1);
              font-size: 3.38vw;
              letter-spacing: 0.06666667014360428px;
              font-family: STHeitiSC-Light;
              font-weight: 300;
              text-align: left;
              white-space: nowrap;
              line-height: 3.39vw;
              margin: 1.93vw 4.34vw 0 0;
            }
          }
        }
        .icon_2 {
          width: 3.87vw;
          height: 3.87vw;
          margin: 5.31vw 0 5.31vw 0;
        }
      }
    }
    .block_4 {
      box-shadow: -2px 2px 8px 0px rgba(227, 227, 227, 0.5);
      background-color: rgba(255, 254, 254, 1);
      border-radius: 22px;
      width: 93.72vw;
      align-self: center;
      margin-top: -0.24vw;
      padding: 2.41vw 5.07vw 5.07vw 4.34vw;
      .image-text_2 {
        width: 16.43vw;
        margin-right: 67.88vw;
        .icon_3 {
          width: 5.8vw;
          height: 5.8vw;
        }
        .text-group_2 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(144, 147, 153, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 0.73vw;
        }
      }
      .image_2 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 0.72vw 0 0 0.24vw;
      }
      .text_5 {
        height: 4.35vw;
        overflow-wrap: break-word;
        color: rgba(232, 103, 116, 1);
        font-size: 4.34vw;
        letter-spacing: 0.08571428805589676px;
        font-family: STHeitiSC-Medium;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        line-height: 4.59vw;
        margin: 1.93vw 7.97vw 0 8.69vw;
      }
      .block_5 {
        margin: 3.14vw 2.17vw 0 7.97vw;
        .text_6 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 1.94vw;
        }
        .icon_4 {
          width: 5.56vw;
          height: 5.56vw;
          margin: 1.2vw 0 1.2vw 26.81vw;
        }
        .button_1 {
          background-color: rgba(250, 100, 1, 1);
          border-radius: 16px;
          margin-left: 2.42vw;
          padding: 1.69vw 1.93vw 1.44vw 1.93vw;
          .text_7 {
            height: 4.35vw;
            overflow-wrap: break-word;
            color: rgba(255, 255, 255, 1);
            font-size: 4.34vw;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 4.59vw;
          }
        }
      }
      .image_3 {
        width: 75.13vw;
        height: 0.25vw;
        margin: 1.93vw 1.69vw 0 7.48vw;
      }
      .block_6 {
        margin: 1.44vw 2.17vw 0 7.48vw;
        .text_8 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 1.94vw;
        }
        .icon_5 {
          width: 5.56vw;
          height: 5.56vw;
          margin: 1.2vw 0 1.2vw 27.05vw;
        }
        .tag_1 {
          background-color: rgba(250, 100, 1, 1);
          border-radius: 16px;
          margin-left: 2.66vw;
          padding: 1.93vw 2.17vw 1.69vw 2.17vw;
          .text_9 {
            height: 4.35vw;
            overflow-wrap: break-word;
            color: rgba(255, 255, 255, 1);
            font-size: 4.34vw;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 4.59vw;
          }
        }
      }
      .image_4 {
        width: 75.13vw;
        height: 0.25vw;
        margin: 1.93vw 1.69vw 0 7.48vw;
      }
      .block_7 {
        margin: 1.93vw 2.17vw 0 7.48vw;
        .text_10 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 1.94vw;
        }
        .icon_6 {
          width: 5.56vw;
          height: 5.56vw;
          margin: 1.2vw 0 1.2vw 27.05vw;
        }
        .tag_2 {
          background-color: rgba(250, 100, 1, 1);
          border-radius: 16px;
          margin-left: 2.42vw;
          padding: 1.93vw 2.41vw 1.69vw 2.17vw;
          .text_11 {
            height: 4.35vw;
            overflow-wrap: break-word;
            color: rgba(255, 255, 255, 1);
            font-size: 4.34vw;
            font-family: STHeitiSC-Medium;
            font-weight: 500;
            text-align: left;
            white-space: nowrap;
            line-height: 4.59vw;
          }
        }
      }
    }
    .block_8 {
      box-shadow: -2px 2px 8px 0px rgba(227, 227, 227, 0.5);
      background-color: rgba(255, 254, 254, 1);
      border-radius: 22px;
      width: 93.72vw;
      align-self: center;
      margin-top: 3.39vw;
      padding: 2.65vw 4.83vw 5.31vw 4.58vw;
      .group_1 {
        width: 16.43vw;
        margin-right: 67.88vw;
        .icon_7 {
          width: 5.8vw;
          height: 5.8vw;
        }
        .text_12 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(144, 147, 153, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 0.73vw;
        }
      }
      .image_5 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 0.72vw 0 0 0.24vw;
      }
      .image_6 {
        width: 84.06vw;
        height: 0.25vw;
        margin-right: 0.25vw;
      }
      .group_2 {
        width: 84.06vw;
        margin: 2.17vw 0 0 0.24vw;
        .text_13 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 0.25vw;
        }
        .switch_1 {
          width: 10.63vw;
          height: 4.84vw;
        }
      }
      .image_7 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 2.41vw 0 0 0.24vw;
      }
      .group_3 {
        width: 84.06vw;
        margin: 2.41vw 0 0 0.24vw;
        .text_14 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 0.25vw;
        }
        .switch_2 {
          width: 10.63vw;
          height: 4.84vw;
        }
      }
      .image_8 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 2.41vw 0 0 0.24vw;
      }
      .group_4 {
        width: 84.06vw;
        margin: 2.41vw 0.24vw 0 0;
        .text_15 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(28, 28, 29, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
        }
        .switch_3 {
          width: 10.63vw;
          height: 4.84vw;
        }
      }
      .image_9 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 2.17vw 0.24vw 0 0;
      }
      .group_5 {
        margin: 2.41vw 0 0 0.24vw;
        .text_16 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(0, 0, 0, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
        }
        .thumbnail_3 {
          width: 4.84vw;
          height: 4.84vw;
          margin-left: 23.19vw;
        }
        .text_17 {
          height: 4.11vw;
          overflow-wrap: break-word;
          color: rgba(144, 147, 153, 1);
          font-size: 4.1vw;
          letter-spacing: 0.08095238357782364px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.35vw;
          margin: 0.24vw 0 0 1.69vw;
        }
        .thumbnail_4 {
          width: 4.84vw;
          height: 4.84vw;
          margin-left: 1.21vw;
        }
        .text_18 {
          height: 4.11vw;
          overflow-wrap: break-word;
          color: rgba(144, 147, 153, 1);
          font-size: 4.1vw;
          letter-spacing: 0.08095238357782364px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.35vw;
          margin: 0.24vw 0 0 1.2vw;
        }
        .thumbnail_5 {
          width: 4.84vw;
          height: 4.84vw;
          margin-left: 1.21vw;
        }
        .text_19 {
          height: 4.11vw;
          overflow-wrap: break-word;
          color: rgba(144, 147, 153, 1);
          font-size: 4.1vw;
          letter-spacing: 0.08095238357782364px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.35vw;
          margin: 0.24vw 0 0 1.69vw;
        }
      }
      .image_10 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 2.41vw 0 0 0.24vw;
      }
      .group_6 {
        width: 80.68vw;
        margin: 2.41vw 3.38vw 0 0.24vw;
        .text_20 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(28, 28, 29, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
        }
        .icon_8 {
          width: 3.87vw;
          height: 3.87vw;
          margin-top: 0.49vw;
        }
      }
      .image_11 {
        width: 84.06vw;
        height: 0.25vw;
        margin: 2.41vw 0.24vw 0 0;
      }
      .group_7 {
        width: 80.68vw;
        margin: 2.41vw 3.38vw 0 0.24vw;
        .text_21 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(28, 28, 29, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
        }
        .thumbnail_6 {
          width: 3.87vw;
          height: 3.87vw;
          margin: 0.24vw 0 0.24vw 0;
        }
      }
    }
    .block_9 {
      box-shadow: -2px 2px 8px 0px rgba(227, 227, 227, 0.5);
      background-color: rgba(255, 254, 254, 1);
      border-radius: 22px;
      width: 93.72vw;
      align-self: center;
      margin-top: 3.39vw;
      padding: 2.17vw 5.07vw 3.62vw 4.58vw;
      .box_1 {
        width: 16.67vw;
        margin-right: 67.4vw;
        .icon_9 {
          width: 5.8vw;
          height: 5.56vw;
        }
        .text_22 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(161, 163, 168, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
          margin-top: 0.73vw;
        }
      }
      .image_12 {
        width: 84.06vw;
        height: 0.25vw;
        margin-top: 0.73vw;
      }
      .box_2 {
        width: 80.92vw;
        margin: 2.41vw 3.14vw 0 0;
        .text_23 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(28, 28, 29, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
        }
        .icon_10 {
          width: 3.87vw;
          height: 3.87vw;
          margin: 0.24vw 0 0.24vw 0;
        }
      }
      .image_13 {
        width: 84.06vw;
        height: 0.25vw;
        margin-top: 2.18vw;
      }
      .box_3 {
        width: 80.92vw;
        margin: 2.65vw 3.14vw 0 0;
        .text_24 {
          height: 4.35vw;
          overflow-wrap: break-word;
          color: rgba(28, 28, 29, 1);
          font-size: 4.34vw;
          letter-spacing: 0.08571428805589676px;
          font-family: STHeitiSC-Medium;
          font-weight: 500;
          text-align: left;
          white-space: nowrap;
          line-height: 4.59vw;
        }
        .thumbnail_7 {
          width: 3.87vw;
          height: 3.87vw;
          margin: 0.24vw 0 0.24vw 0;
        }
      }
    }
  }
}
